.home_container{
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
}

.nav_section{
  height: 100px;
  width: 100vw;
  background-color: rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_section h1{
  /* font-family: 'Glory', sans-serif; */
  font-family: 'JMH SS', sans-serif;
  color:black;
  font-size: 40pt;
}

.app_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.app_container nav{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
}

.shoe_container{
  width: 100vw;
  height: 600px
}

.color_picker{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

input{
  width: 80px;
  height: 40px;
}

.input_container{
  display: flex;
  justify-content: space-around;
  width: 80%;
  height:auto;
}